ion-toolbar {
  --background: #4f5050;
  --color: #f7f7f7;
}

ion-title {
  text-align: center;
}

ion-text h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
}

.color-status {
    color: #866813;
}

.change-color-status {
  color: #3fc0fa;
  font-weight: 800;
}
